In [ ]:
#Connecting to Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

import pandas as pd
import numpy as np

filepath = '/content/gdrive/My Drive/DATA/imports-85.data'
data = pd.read_csv(filepath, header = None)
data.head(n=10)
data.tail(n=10)

#Assign column names
headers = ['Symboling', 'Normalized-Losses', 'Make', 'Fuel-Type', 'Aspiration', 'Num-of-Doors', 'Body-Style', 'Drive-Wheels', 
           'Engine-Location', 'Wheel-Base', 'Length', 'Width', 'Height', 'Curb-Weight', 'Engine-Type', 'Num-of-Cylinders',
           'Engine-Size', 'Fuel-System', 'Bore', 'Stroke', 'Compression-Ratio', 'Horsepower', 'Peak-RPM', 'City-MPG', 'Highway-MPG', 'Price']

print('headers \n', headers)
data.columns = headers
data.head(n=10)

#Exporting dataframe to new CSV file
path = '/content/gdrive/My Drive/DATA/Automobiles.csv'
data.to_csv(path)
#data.to_csv(path, index = false) means that in the exported CSV file, the index column shown in the pandas dataframe will be dropped

#Checking data types
data.dtypes

#Checking the statistical summary
data.describe()
data.describe(include='all') #NaN stands for not a number

data.info()

#Replace ? symbols with NaN
data1 = data.replace('?', np.NaN)

#Drop the missing values in the column 'Price'
data = data1.dropna(subset=['Price'], axis=0) 
#axis=0 means the entire row will be dropped. axis=1 means dropping the column
data.head(n=10)

#Print the names of the dataframe columns
print(data.columns)
print(data.dtypes)

data[['Length', 'Compression-Ratio']].describe()

           Length  Compression-Ratio
count  201.000000         201.000000
mean   174.200995          10.164279
std     12.322175           4.004965
min    141.100000           7.000000
25%    166.800000           8.600000
50%    173.200000           9.000000
75%    183.500000           9.400000
max    208.100000          23.000000